.qubit {
    padding: 58px 0 60px;
    text-align: center;
}

.qubit__title {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 22px;
}

.qubit__span {
    font-size: 18px;
    line-height: 30px;
}

.qubit__items {
    margin-top: 43px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.qubit-card {
    padding: 0 2px 18px 2px;
    max-width: 320px;
    transition: 0.2s linear all;
    cursor: pointer;
}

.qubit-card__title {
    font-size: 19px;
    line-height: 23px;
    margin: 45px 0 15px;
}

.qubit-card__descr {
    font-size: 15px;
    line-height: 15px;
}

.qubit-card:hover {
    background-color: #F6F6F6;
}

.qubit-card__icon {
    transition: 0.2s linear all;
}

.qubit-card:hover .qubit-card__icon {
    transform: scale(1.2);
}

.trusted {
    padding: 60px 0 65px;
    background-color: #17002E;
    color: white;
}

.trusted__title {
    text-align: center;
    font-size: 40px;
    line-height: 45px;
}

.trusted__items {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}

.trusted-card {
    flex: 0 1 350px;
    cursor: pointer;
}

.trusted-card__photo {
    background: no-repeat url('../images/girl.jpg');
    background-size: cover;
    height: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px 7px 0px 0px;
}

.trusted-card__content {
    padding: 25px 0 60px;
    background-color: white;
    border-radius: 0px 0px 7px 7px;
    text-align: center;
}

.trusted-card__link {
    display: block;
    margin: 25px auto 0;
    width: 220px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    text-decoration: none;
}

.trusted-card__photo img {
    transition: all 0.2s linear;
}

.trusted-card:hover .trusted-card__photo img {
    transform: scale(1.5);
}

.trusted-card:hover .trusted-card__link {
    text-decoration: underline;
}